<li class="dev">
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}DEVOUR!{{else}}DONT DEVOUR!{{/if}}
	</button>

	<!--<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>-->

	<button class="delete-burger" data-id="{{this.id}}">
		<i class='fa fa-trash' aria-hidden='true'></i>
		DELETE!
		
	</button>

</li>
